<div class='row'>
<div class='col-xs-3'>
<h2>User info</h2>
<table class='table'>
<tr><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", class: "attachment user profile_image fallback" %></tr>
<tr>
<th>name</th>
<th><%= @user.name %></th>
</tr>
<tr>
<th>introduction</th>
<th><%= @user.introduction %></th>
</tr>
</table>
<div class='row'>
<%= link_to "Edit", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
</div>

<h2>New book</h2>
<%= form_for(@book) do |f| %>
<div class="field row">
<%= f.label :title, "Title" %>
<%= f.text_field :title, class: "col-xs-12" %>
</div>
<div class="field row">
<%= f.label :body, "Opinion" %>
<%= f.text_area :body, class: "col-xs-12" %>
</div>
<div class="actions row">
<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
</div>
<% end %>
</div>

<div class='col-xs-9'>
<h2>Books</h2>
<table class='table table-hover table-inverse'>
<thead>
<tr> 
<th></th>
<th>Title</th>
<th>Opinion</th>
<th colspan="3"></th>
</tr>
</thead>
<tbody>
<% @books.each do |book| %>
<% if book.user_id == @user.id %>
<tr>
<td><%= attachment_image_tag User.find(book.user_id), :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
<td><%= link_to book.title, book_path(book.id) %></td>
<td><%= book.body %></td>
</tr>
<% end %>
<% end %>
</tbody>
</table>
</div>
</div>
</div>
</div>