<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
<%= @user.name %>
<%= @user.introduction %>

<%= link_to "Edit", edit_user_path(current_user.id) %>

<h2>New Book</h2>

<%= form_for(@book) do |f| %>
  
  	<div class="field">
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :body, "Opinion" %>
		<%= f.text_area :body %>
	</div>

	<%= f.submit 'Create Book' %>

<% end %>

<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<% @books.each do |book| %>
	
	<%= attachment_image_tag User.find(book.user_id), :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
	<%= link_to book_path(book) do %>
    	<%= book.title %>
    <% end %>
	<%= book.body %>
	<br>
<% end %>
